{% extends 'students/base.html' %}

{% block content %}
  <h1>
    Giỏ hàng
  </h1>
  {% if cart %}
    {% for product in cart %}

      <div class="row">
        <div class="col-md-8">
          <p>
            <strong>
              {{ product.name }}
            </strong>
          </p>
          <p>
            {{ product.price }} $
          </p>
        </div>
        <div class="col-md-4">
          <a href="{% url 'student:delete-cart-item' product.id %}" >
            Delete
          </a>
          <form action="{% url 'student:update-cart-item' product.id %}" method="POST">
            {% csrf_token %}
            <input name="quantity" type="number" value="{{ product.quantity }}">
            <button type="submit">
              Cập nhật
            </button>
          </form>
        </div>
      </div>

      <hr>
    {% endfor %}


  {% else %}

    <p>Chưa có sản phẩm nào trong giỏ hàng</p>
  {% endif %}
{% endblock content %}