{% extends 'students/base.html' %}
{% block title %}
Chi tiết sinh viên {{ student.name }}
{% endblock title %}
{% block content %}
      <h2>Chi tiết sinh viên: {{ student.name }}</h2>
      <div class="row">
          <div class="col col-sm-12">
            <img src="https://i.pinimg.com/736x/64/81/22/6481225432795d8cdf48f0f85800cf66.jpg" class="img-thumbnail" alt="...">
          </div>
          <div class="col col-sm-12">
            <p>Họ tên: {{ student.name }}</p>
            <p>Địa chỉ: {{ student.address }}</p>
            <p>Giới tính: {{ student.gender }}</p>
            <p>Mã sinh viên: {{ student.student_code }}</p>
            <p>Lớp: {{ student.class_model }}</p>
          </div>
      </div>
    </div>
{% endblock content %}
{% block style %}
<style>
  h2 {
    color:red
  }
</style>
{% endblock style %}